.pkg-card {
  border-radius: var(--shape-medium);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid var(--divider);
  overflow: hidden;
  background: var(--page-background);
  height: 100%;
  code {
    margin: -1rem;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0.5rem 1rem;
  }
  .name {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    --icon-size: 32;
    h3 {
      flex: 1;
    }
    &:hover material-symbol {
      --icon-weight: 500;
    }
  }
  h3,
  p,
  pkg-info {
    margin: 0;
  }
  pkg-info {
    margin-top: auto;
  }
}
